<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>グループ名</th>
      <th>紹介文</th>
      <th>メンバー数</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% groups.each do |group| %>
      <tr>
        <td><%= image_tag group.get_image, size: '50x50' %></td>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.introduction %></td>
        <td><%= group.users.count %></td>
        <td><% if group.owner_id == current_user.id %>
          <%= link_to 'edit', edit_group_path(group), class: "btn btn-sm btn-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>