<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2><%= @another_entry.user.name %>さんとのチャット</h2>
    </div>
  </div>

  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div class="chat">
        <% if @messages.each do |m| %>
            <%= m.message %><br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="posts">
      <%= form_with model:@chat, local:true do |f| %>
        <div class="form-group">
          <%= f.text_field :message, class: 'form-control group_introduction' %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :room_id, value: @room.id %>
          <!-- 送信を表示させないため、イコールはなしにしている（enterキーで送信できる仕組み）-->
          <% f.submit "送信", class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

