<h2><%= @user.name %>さんとのチャット</h2>

<%= form_with model:@chat,local:true do |f| %>
  <div class="form-group">
    <%= f.text_field :message, class: 'form-control group_introduction' %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :room_id %>
    <%= f.submit class: 'btn btn-info' %>
  </div>
<% end %>

